h1{
    font-size: 50px;
    
}
.name-highlight{
    color: rgb(243, 72, 129);
}
.highlight{
    color: rgb(134, 37, 224);
}
body{
    font-family: 'Poppins', sans-serif;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    margin-top: 15%;
}