h1{
    font-size: 50px;
    
}
.name-highlight{
    color: rgb(243, 72, 129);
}
.highlight{
    color: rgb(134, 37, 224);
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    
       
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.button{
    background-color: rgb(245, 71, 158);
    border-radius: 5px;
    color: white ;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 700;
    background-image: linear-gradient(45deg, rgb(245, 71, 158),rgb(134,37,224));
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}